#:schema node_modules/wrangler/config-schema.json
name = "onotify"
main = "src/index.ts"
compatibility_date = "2024-11-11"
compatibility_flags = [ "nodejs_compat" ]

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

[[routes]]
zone_name = "sinkingpoint.com"
pattern = "sinkingpoint.com/onotify/*"

[[d1_databases]]
binding = "DB"
database_name = "onotify"
database_id = "3234a1a1-b03b-4150-acc2-ffc628adff12"

[[kv_namespaces]]
binding = "CONFIGS"
id = "b04d857d6653487ebee0f8aa63c244dd"

[[durable_objects.bindings]]
name = "ALERT_GROUP_CONTROLLER"
class_name = "AlertGroupController"

[[durable_objects.bindings]]
name = "ACCOUNT_CONTROLLER"
class_name = "AccountController"

[[durable_objects.bindings]]
name = "SILENCE_CONTROLLER"
class_name = "SilenceController"

[[durable_objects.bindings]]
name = "RECEIVER_CONTROLLER"
class_name = "ReceiverController"

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["AlertGroupController", "AccountController", "SilenceController", "ReceiverController"]
