.side-bar-item {
	display: flex;
	align-items: center;
	padding-left: 20px;
	cursor: pointer;
}

.side-bar-chevron {
	padding-left: 20px;
	padding-right: 20px;
}

.side-bar-chevron:hover {
	background-color: var(--background-two);
}

.side-bar-group:not(:has(:hover)):hover {
	background-color: var(--background-two);
}

.side-bar-item.active {
	background-color: var(--highlight);
}

.side-bar {
	background-color: var(--background-three);
	height: 100vh;
  overflow: hidden;
	z-index: 1;

	transition: width 0.2s ease-in-out;
}
