.stat-panel {
	border: 2px solid var(--border-color);
	border-radius: 5px;
	margin-right: 1rem;
	margin-top: 1rem;
	padding: 0.5rem;
}

.skeleton {
	display: inline-block;
	background-color: #4a6b5a;
	border-radius: 4px;
	animation-name: skeleton-pulse;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}
